# Copyright the Hyperledger Fabric contributors. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.rrr)
trigger:
- main
pr:
- main

schedules:
  - cron: "0 23 * * *"
    displayName: "Nightly build"
    branches:
      include:
        - main

variables:
  - group: credentials
  - group: JARSigningPublish
  - name: GATEWAY_VERSION
    value: 0.1.0
  - name: BUILD_DATE
    value: $[format('{0:yyyyMMdd}', pipeline.startTime)]
  - name: BUILD_NUMBER
    value: $[counter(format('{0:yyyyMMdd}', pipeline.startTime), 1)]
  - name: GOPATH
    value: $(Agent.BuildDirectory)/go
  - name: PATH
    value: $(Agent.BuildDirectory)/go/bin:/bin:/usr/bin:/sbin:/usr/sbin:/usr/local/bin:/usr/local/sbin
  - name: GOVER
    value: 1.16.7
  - name: NODEVER
    value: 12.16.1

stages:
- stage: Docs
  jobs:
  - job: GenerateNodeDocs
    pool:
      vmImage: ubuntu-20.04
    dependsOn: []
    timeoutInMinutes: 60
    steps:
    - template: install_deps.yml
    - checkout: self
    - script: make generate-docs-node
      displayName: Generate Node docs
    - publish: $(System.DefaultWorkingDirectory)/node/apidocs
      artifact: NodeDocs
  - job: GenerateJavaDocs
    pool:
      vmImage: ubuntu-20.04
    dependsOn: []
    timeoutInMinutes: 60
    steps:
    - template: install_deps.yml
    - checkout: self
    - script: make generate-docs-java
      displayName: Generate Java docs
    - publish: $(System.DefaultWorkingDirectory)/java/target/site/apidocs
      artifact: JavaDocs
- stage: Test
  dependsOn: []
  jobs:
  - job: UnitTestGo
    pool:
      vmImage: ubuntu-20.04
    dependsOn: []
    timeoutInMinutes: 60
    steps:
    - template: install_deps.yml
    - checkout: self
    - script: make generate unit-test-go-pkcs11
      displayName: Run Go unit tests with pkcs11
  - job: UnitTestNode
    pool:
      vmImage: ubuntu-20.04
    dependsOn: []
    timeoutInMinutes: 60
    steps:
    - template: install_deps.yml
    - checkout: self
    - script: make unit-test-node
      displayName: Run Node unit tests
    - publish: $(System.DefaultWorkingDirectory)/node
      artifact: NodeBuild
  - job: UnitTestJava
    pool:
      vmImage: ubuntu-20.04
    dependsOn: []
    timeoutInMinutes: 60
    steps:
    - template: install_deps.yml
    - checkout: self
    - script: make unit-test-java
      displayName: Run Java unit tests
  #   - script: bash <(curl https://codecov.io/bash) -t $CODECOV_UPLOAD_TOKEN
  #     env:
  #       CODECOV_UPLOAD_TOKEN: $(CODECOV_UPLOAD_TOKEN)
  #     displayName: Upload coverage to Codecov

  - job: ScenarioTestGo
    pool:
      vmImage: ubuntu-20.04
    dependsOn: []
    timeoutInMinutes: 60
    steps:
    - template: install_deps.yml
    - checkout: self
    - script: make pull-latest-peer scenario-test-go
      displayName: Run Go SDK scenario tests
      env:
        # TODO: update this variable name in the Makefile
        JENKINS_URL: true

  - job: ScenarioTestNode
    pool:
      vmImage: ubuntu-20.04
    dependsOn: []
    timeoutInMinutes: 60
    steps:
    - template: install_deps.yml
    - checkout: self
    - script: make pull-latest-peer scenario-test-node
      displayName: Run Node SDK scenario tests
      env:
        # TODO: update this variable name in the Makefile
        JENKINS_URL: true

  - job: ScenarioTestJava
    pool:
      vmImage: ubuntu-20.04
    dependsOn: []
    timeoutInMinutes: 60
    steps:
      - template: install_deps.yml
      - checkout: self
      - script: make pull-latest-peer scenario-test-java
        displayName: Run Java SDK scenario tests
        env:
          # TODO: update this variable name in the Makefile
          JENKINS_URL: true

  - job: SamplesGo
    pool:
      vmImage: ubuntu-20.04
    dependsOn: []
    timeoutInMinutes: 60
    steps:
      - template: install_deps.yml
      - checkout: self
      - script: |
          make sample-network
          make run-samples-go
          make run-hsm-samples-go
        displayName: Run Go SDK samples

  - job: SamplesNode
    pool:
      vmImage: ubuntu-20.04
    dependsOn: []
    timeoutInMinutes: 60
    steps:
      - template: install_deps.yml
      - checkout: self
      - script: |
          make sample-network
          make run-samples-node
          make run-hsm-samples-node
        displayName: Run Node SDK samples

  - job: SamplesJava
    pool:
      vmImage: ubuntu-20.04
    dependsOn: []
    timeoutInMinutes: 60
    steps:
      - template: install_deps.yml
      - checkout: self
      - script: |
          make sample-network
          make run-samples-java
        displayName: Run Java SDK samples

# TODO Only publish on scheduled builds
- stage: Publish
  dependsOn: Test
  condition: and(succeeded('Test'),eq(variables['Build.Reason'], 'IndividualCI'))
  #condition: and(succeeded('Test'), eq(variables['Build.Reason'], 'Schedule'))
  jobs:
  - job: PublishDocs
    pool:
      vmImage: ubuntu-20.04
    steps:
    - checkout: self
    - script: |
        git checkout gh-pages
        git clean -xdf
        rm -Rf main/api/
        mkdir -p main/api/java main/api/node
      displayName: 'Remove old api docs'
    - task: DownloadPipelineArtifact@2
      inputs:
        source: current
        artifact: JavaDocs
        path: $(Build.SourcesDirectory)/main/api/java
    - task: DownloadPipelineArtifact@2
      inputs:
        source: current
        artifact: NodeDocs
        path: $(Build.SourcesDirectory)/main/api/node
    - publish: $(System.DefaultWorkingDirectory)
      artifact: GhPages
    - script: |
        git config --global user.email "hlfdev.azp@gmail.com"
        git config --global user.name "Hyperledger Bot"
        git add -A
        git commit -m "Publishing GitHub Pages [skip ci]"
        git push https://$(GITHUB-PAT)@github.com/$(Build.Repository.Name).git gh-pages
      displayName: 'Update gh-pages branch'
  - job: PublishNode
    pool:
      vmImage: ubuntu-20.04
    steps:
      - download: current
        artifact: NodeBuild
      - task: NodeTool@0
        inputs:
          versionSpec: $(NODEVER)
      - script: |
          touch $(Agent.TempDirectory)/.npmrc
          echo '##vso[task.setvariable variable=NPM_CONFIG_USERCONFIG]$(Agent.TempDirectory)/.npmrc'
        displayName: 'create user .npmrc file'
      - script: |
          npm config set registry https://registry.npmjs.org/
          npm config set git-tag-version false
          npm config ls
        displayName: set npm config
      - task: npmAuthenticate@0
        inputs:
          workingFile: '$(Agent.TempDirectory)/.npmrc'
          customEndpoint: 'npm'
      - script: npm version ${GATEWAY_VERSION}-dev.${BUILD_DATE}.${BUILD_NUMBER}
        displayName: Set prerelease version
        workingDirectory: $(Pipeline.Workspace)/NodeBuild
        env:
          GATEWAY_VERSION: $(GATEWAY_VERSION)
          BUILD_DATE: $(BUILD_DATE)
          BUILD_NUMBER: $(BUILD_NUMBER)
      - script: |
          npm publish --access public --tag unstable
        displayName: npm publish
        workingDirectory: $(Pipeline.Workspace)/NodeBuild
        env:
          GATEWAY_VERSION: $(GATEWAY_VERSION)
          BUILD_DATE: $(BUILD_DATE)
          BUILD_NUMBER: $(BUILD_NUMBER)
      # TODO Remove after deprecation!!!
      - script: |
          npm deprecate fabric-gateway "Use @hyperledger/fabric-gateway"
        displayName: npm publish
        workingDirectory: $(Pipeline.Workspace)/NodeBuild
        env:
          GATEWAY_VERSION: $(GATEWAY_VERSION)
          BUILD_DATE: $(BUILD_DATE)
          BUILD_NUMBER: $(BUILD_NUMBER)
  - job: PublishJava
    pool:
      vmImage: ubuntu-20.04
    steps:
      - task: DownloadSecureFile@1
        name: privateKey
        displayName: Download private key
        inputs:
          secureFile: private-key.asc
      - script: |
          GPG_TTY=$(tty)
          export GPG_TTY
          gpg --batch --import ${PRIVATE_KEY}
        displayName: Import private key
        env:
          PRIVATE_KEY: $(privateKey.secureFilePath)
      - task: MavenAuthenticate@0
        inputs:
          mavenServiceConnections: maven-artifactory
      - script: make fabric-protos
        displayName: Fetch fabric protos
      - script: mvn --batch-mode versions:set -DnewVersion=${GATEWAY_VERSION}-dev-${BUILD_DATE}-${BUILD_NUMBER}
        displayName: Set prerelease version
        workingDirectory: $(System.DefaultWorkingDirectory)/java
        env:
          GATEWAY_VERSION: $(GATEWAY_VERSION)
          BUILD_DATE: $(BUILD_DATE)
          BUILD_NUMBER: $(BUILD_NUMBER)
      - script: |
          GPG_TTY=$(tty)
          export GPG_TTY
          mvn --batch-mode -P release deploy
        displayName: Deploy to artifactory
        workingDirectory: $(System.DefaultWorkingDirectory)/java
        env:
          MAVEN_OPTS: -Dmaven.test.skip=true -Dgpg-keyname=$(JAR-Signing-Id) -Dgpg.passphrase=$(JAR-Signing-Password)
      - publish: $(System.DefaultWorkingDirectory)/java
        artifact: JavaBuild
