name: Build documentation
on:
  workflow_call:

permissions:
  contents: read

jobs:
  node:
    runs-on: ubuntu-24.04
    name: Node documentation
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: "lts/*"
      - name: Generate documentation
        run: make generate-docs-node
      - name: Upload documentation
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: node-doc
          path: node/apidocs/

  java:
    runs-on: ubuntu-24.04
    name: Java documentation
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          java-version: 21
          distribution: temurin
          cache: maven
      - name: Generate JavaDoc
        run: make generate-docs-java
      - name: Upload JavaDoc
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: java-doc
          path: java/target/reports/apidocs/

  site:
    runs-on: ubuntu-24.04
    name: Documentation site
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 3.x
      - name: Generate documentation site
        run: make generate-docs
      - name: Upload documentation site
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: site-doc
          path: site/
