name: Build documentation
on:
  workflow_call:

permissions:
  contents: read

jobs:
  node:
    runs-on: ubuntu-24.04
    name: Node documentation
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "lts/*"
      - name: Generate documentation
        run: make generate-docs-node
      - name: Upload documentation
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: node-doc
          path: node/apidocs/

  java:
    runs-on: ubuntu-24.04
    name: Java documentation
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: 25
          distribution: temurin
          cache: maven
      - name: Generate JavaDoc
        run: make generate-docs-java
      - name: Upload JavaDoc
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: java-doc
          path: java/target/reports/apidocs/

  site:
    runs-on: ubuntu-24.04
    name: Documentation site
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.x
      - name: Generate documentation site
        run: make generate-docs
      - name: Upload documentation site
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: site-doc
          path: site/
