name: Build documentation
on:
  workflow_call:

permissions:
  contents: read

jobs:
  node:
    runs-on: ubuntu-24.04
    name: Node documentation
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
      - name: Generate documentation
        run: make generate-docs-node
      - name: Upload documentation
        uses: actions/upload-artifact@v4
        with:
          name: node-doc
          path: node/apidocs/

  java:
    runs-on: ubuntu-24.04
    name: Java documentation
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: maven
      - name: Generate JavaDoc
        run: make generate-docs-java
      - name: Upload JavaDoc
        uses: actions/upload-artifact@v4
        with:
          name: java-doc
          path: java/target/reports/apidocs/

  web:
    runs-on: ubuntu-22.04
    name: Web documentation
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
      - name: Generate documentation
        run: make generate-docs-web
      - name: Upload documentation
        uses: actions/upload-artifact@v4
        with:
          name: web-doc
          path: web/apidocs/

  site:
    runs-on: ubuntu-24.04
    name: Documentation site
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Generate documentation site
        run: make generate-docs
      - name: Upload documentation site
        uses: actions/upload-artifact@v4
        with:
          name: site-doc
          path: site/
