name: Pull request

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    uses: ./.github/workflows/test.yml

  scan:
    uses: ./.github/workflows/scan.yml

  pull-request:
    needs: build
    name: Pull request success
    runs-on: ubuntu-latest
    steps:
      - run: "true"
