name: Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: read

jobs:
  verify-versions:
    uses: ./.github/workflows/verify-versions.yml

  publish-node:
    needs: verify-versions
    name: Publish Node package to npm registry
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write # Required for OIDC
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "lts/*"
          registry-url: "https://registry.npmjs.org"
      - name: Build
        run: make build-node
      - name: Publish
        run: ${{ github.workspace }}/.github/scripts/npm_publish.sh latest
        working-directory: node

  publish-java-github:
    needs: verify-versions
    name: Publish Java artifact to GitHub Packages
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: 25
          distribution: temurin
          cache: maven
      - name: Publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MAVEN_GPG_KEY: ${{ secrets.OSSRH_GPG_SECRET_KEY }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}
        run: ${{ github.workspace }}/.github/scripts/maven_publish.sh github
        working-directory: java

  publish-java-central:
    needs: verify-versions
    name: Publish Java artifact to Maven Central
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: 25
          distribution: temurin
          cache: maven
          server-id: central
          server-username: MAVENCENTRAL_USERNAME
          server-password: MAVENCENTRAL_PASSWORD
      - name: Publish
        env:
          MAVENCENTRAL_USERNAME: ${{ secrets.MAVENCENTRAL_USERNAME }}
          MAVENCENTRAL_PASSWORD: ${{ secrets.MAVENCENTRAL_PASSWORD }}
          MAVEN_GPG_KEY: ${{ secrets.OSSRH_GPG_SECRET_KEY }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}
        run: ${{ github.workspace }}/.github/scripts/maven_publish.sh central
        working-directory: java
