name: "Security vulnerability scan"

on:
  workflow_call:
    inputs:
      ref:
        description: Branch, tag or SHA to scan.
        type: string
        required: false
        default: ""

permissions:
  contents: read

jobs:
  go:
    name: "go (osv-scanner)"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ inputs.ref }}
      - name: Set up Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version: stable
          check-latest: true
      - name: Scan
        run: make scan-go-osv-scanner

  node:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - npm-audit
          - osv-scanner
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ inputs.ref }}
      - name: Set up Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: "lts/*"
      - name: Set up Go
        if: ${{ matrix.target == 'osv-scanner' }}
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version: stable
      - name: Scan
        run: make scan-node-${{ matrix.target }}

  java_osv_scanner:
    name: "java (osv-scanner)"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ inputs.ref }}
      - name: Set up Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version: stable
      - name: Scan
        run: make scan-java-osv-scanner

  java_dependency_check:
    name: "java (dependency-check)"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: java
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ inputs.ref }}
      - name: Set up Java
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
        with:
          java-version: 21
          distribution: temurin
          cache: maven
      - name: Download dependencies
        run: mvn dependency:copy-dependencies -DincludeScope=runtime
      - name: Scan
        env:
          JAVA_HOME: /opt/jdk
        uses: dependency-check/Dependency-Check_Action@3102a65fd5f36d0000297576acc56a475b0de98d # main
        with:
          project: fabric-gateway
          path: java/target/dependency
          format: HTML
          out: reports
          args: >
            --suppression java/dependency-suppression.xml
            --failOnCVSS 4
      - name: Archive dependency-check report
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: dependency-check-report-${{ inputs.ref || github.event.pull_request.number || github.ref_name }}
          path: reports
