name: "Security vulnerability scan"

on:
  workflow_call:
    inputs:
      ref:
        description: Branch, tag or SHA to scan.
        type: string
        required: false
        default: ""

permissions:
  contents: read

jobs:
  go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.ref }}
      - name: Set up Go
        id: setup-go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: stable
          check-latest: true
      - name: Create OSV-Scanner config
        run: |
          echo "GoVersionOverride = '${{ steps.setup-go.outputs.go-version }}'" > osv-scanner.toml
      - name: Scan
        id: scan-go
        run: |
          docker run --rm \
            --volume './:/src' \
            ghcr.io/google/osv-scanner:latest \
            scan \
            --config=/src/osv-scanner.toml \
            --lockfile=/src/go.mod \
            --format=markdown > osv-scanner.md
      - name: Report failure
        if: ${{ failure() && steps.scan-go.conclusion == 'failure' }}
        run: |
          cat osv-scanner.md >> ${GITHUB_STEP_SUMMARY}

  node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.ref }}
      - name: Set up Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "lts/*"
      - name: Create BOM
        working-directory: node
        run: |
          npm sbom --omit=dev --package-lock-only --sbom-format cyclonedx > bom.cdx.json
      - name: Scan
        id: scan-node
        run: |
          docker run --rm \
            --volume './:/src' \
            ghcr.io/google/osv-scanner:latest \
            scan \
            --lockfile=/src/node/bom.cdx.json \
            --format=markdown > osv-scanner.md
      - name: Report failure
        if: ${{ failure() && steps.scan-node.conclusion == 'failure' }}
        run: |
          cat osv-scanner.md >> ${GITHUB_STEP_SUMMARY}

  java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.ref }}
      - name: Scan
        id: scan-java
        run: |
          docker run --rm \
            --volume './:/src' \
            ghcr.io/google/osv-scanner:latest \
            scan \
            --lockfile=/src/java/pom.xml \
            --data-source=native \
            --format=markdown > osv-scanner.md
      - name: Report failure
        if: ${{ failure() && steps.scan-java.conclusion == 'failure' }}
        run: |
          cat osv-scanner.md >> ${GITHUB_STEP_SUMMARY}
