name: Test

on:
  workflow_call:

permissions:
  contents: read

jobs:
  verify-versions:
    uses: ./.github/workflows/verify-versions.yml

  docs:
    needs: verify-versions
    uses: ./.github/workflows/build-docs.yml

  shellcheck:
    needs: verify-versions
    runs-on: ubuntu-latest
    name: ShellCheck
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: make shellcheck

  go_lint:
    needs: verify-versions
    runs-on: ubuntu-latest
    name: Lint Go
    env:
      SOFTHSM2_CONF: ${{ github.workspace }}/softhsm2.conf
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: stable
      - name: Generate mocks
        run: make generate
      - name: golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: latest

  go_unit:
    needs: verify-versions
    runs-on: ubuntu-24.04
    name: Unit test Go
    strategy:
      fail-fast: false
      matrix:
        go-version:
          - "1.24"
          - "1.25"
        include:
          - go-version: "1.25"
            coverage: true
    env:
      SOFTHSM2_CONF: ${{ github.workspace }}/softhsm2.conf
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ matrix.go-version }}
      - name: Install SoftHSM
        run: sudo apt install -y softhsm2
        env:
          TMPDIR: ${{ runner.temp }}
      - name: Generate mocks
        run: make generate
      - name: Run unit tests
        run: make unit-test-go-pkcs11
      - name: Coverage report
        if: ${{ matrix.coverage }}
        run: |
          echo '### Unit test coverage' >> ${GITHUB_STEP_SUMMARY}
          go tool cover -func cover.out | tail -1 | sed 's/[^0-9]*/Statement coverage: /' >> ${GITHUB_STEP_SUMMARY}

  go_scenario:
    needs: verify-versions
    runs-on: ubuntu-24.04
    name: Scenario test Go
    strategy:
      fail-fast: false
      matrix:
        go-version:
          - "1.24"
          - "1.25"
    env:
      SOFTHSM2_CONF: ${{ github.workspace }}/softhsm2.conf
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ matrix.go-version }}
      - name: Install SoftHSM
        run: sudo apt install -y softhsm2
        env:
          TMPDIR: ${{ runner.temp }}
      - name: Generate mocks
        run: make generate
      - name: Pull Docker images
        run: make pull-docker-images
      - name: Run scenario tests
        run: make scenario-test-go

  node_unit:
    needs: verify-versions
    runs-on: ubuntu-24.04
    name: Unit test Node
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 20
          - 22
    env:
      SOFTHSM2_CONF: ${{ github.workspace }}/softhsm2.conf
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: Run unit tests
        run: make unit-test-node

  node_scenario:
    needs: verify-versions
    runs-on: ubuntu-24.04
    name: Scenario test Node
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 20
          - 22
    env:
      SOFTHSM2_CONF: ${{ github.workspace }}/softhsm2.conf
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: stable
      - name: Install SoftHSM
        run: sudo apt install -y softhsm2
        env:
          TMPDIR: ${{ runner.temp }}
      - name: Pull Docker images
        run: make pull-docker-images
      - name: Run scenario tests
        run: make scenario-test-node

  java_unit:
    needs: verify-versions
    runs-on: ubuntu-24.04
    name: Unit test Java
    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 11
          - 17
          - 21
        include:
          - java-version: 21
            coverage: true
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: ${{ matrix.java-version }}
          distribution: temurin
          cache: maven
      - name: Run unit tests
        run: make unit-test-java
      - name: Coverage report
        if: ${{ matrix.coverage }}
        run: |
          echo '### Unit test coverage' >> ${GITHUB_STEP_SUMMARY}
          ${{ github.workspace }}/.github/scripts/jacoco2markdown.sh java/target/site/jacoco/jacoco.csv >> ${GITHUB_STEP_SUMMARY}

  java_scenario:
    needs: verify-versions
    runs-on: ubuntu-24.04
    name: Scenario test Java
    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 11
          - 21
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: ${{ matrix.java-version }}
          distribution: temurin
          cache: maven
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: stable
      - name: Pull Docker images
        run: make pull-docker-images
      - name: Run scenario tests
        run: make scenario-test-java
