name: Test

on:
  workflow_call:

permissions:
  contents: read

jobs:
  verify-versions:
    uses: ./.github/workflows/verify-versions.yml

  docs:
    needs: verify-versions
    uses: ./.github/workflows/build-docs.yml

  shellcheck:
    needs: verify-versions
    runs-on: ubuntu-latest
    name: ShellCheck
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: make shellcheck

  go_lint:
    needs: verify-versions
    runs-on: ubuntu-latest
    name: Lint Go
    env:
      SOFTHSM2_CONF: ${{ github.workspace }}/softhsm2.conf
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: stable
      - name: Generate mocks
        run: make generate
      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest

  go_unit:
    needs: verify-versions
    runs-on: ubuntu-24.04
    name: Unit test Go
    strategy:
      fail-fast: false
      matrix:
        go-version:
          - "1.25"
          - "1.26"
        include:
          - go-version: "1.26"
            coverage: true
    env:
      SOFTHSM2_CONF: ${{ github.workspace }}/softhsm2.conf
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ matrix.go-version }}
      - name: Install SoftHSM
        run: sudo apt install -y softhsm2
        env:
          TMPDIR: ${{ runner.temp }}
      - name: Generate mocks
        run: make generate
      - name: Run unit tests
        run: make unit-test-go-pkcs11
      - name: Coverage report
        if: ${{ matrix.coverage }}
        run: |
          echo '### Unit test coverage' >> ${GITHUB_STEP_SUMMARY}
          go tool cover -func cover.out | tail -1 | sed 's/[^0-9]*/Statement coverage: /' >> ${GITHUB_STEP_SUMMARY}

  go_scenario:
    needs: verify-versions
    runs-on: ubuntu-24.04
    name: Scenario test Go
    strategy:
      fail-fast: false
      matrix:
        go-version:
          - "1.25"
          - "1.26"
    env:
      SOFTHSM2_CONF: ${{ github.workspace }}/softhsm2.conf
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ matrix.go-version }}
      - name: Install SoftHSM
        run: sudo apt install -y softhsm2
        env:
          TMPDIR: ${{ runner.temp }}
      - name: Generate mocks
        run: make generate
      - name: Pull Docker images
        run: make pull-docker-images
      - name: Run scenario tests
        run: make scenario-test-go

  node_unit:
    needs: verify-versions
    runs-on: ubuntu-24.04
    name: Unit test Node
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 20
          - 22
          - 24
    env:
      SOFTHSM2_CONF: ${{ github.workspace }}/softhsm2.conf
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: Run unit tests
        run: make unit-test-node

  node_scenario:
    needs: verify-versions
    runs-on: ubuntu-24.04
    name: Scenario test Node
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 20
          - 24
    env:
      SOFTHSM2_CONF: ${{ github.workspace }}/softhsm2.conf
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: stable
      - name: Install SoftHSM
        run: sudo apt install -y softhsm2
        env:
          TMPDIR: ${{ runner.temp }}
      - name: Pull Docker images
        run: make pull-docker-images
      - name: Run scenario tests
        run: make scenario-test-node

  java_unit:
    needs: verify-versions
    runs-on: ubuntu-24.04
    name: Unit test Java
    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 17
          - 21
          - 25
        include:
          - java-version: 25
            coverage: true
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: ${{ matrix.java-version }}
          distribution: temurin
          cache: maven
      - name: Run unit tests
        run: make unit-test-java
      - name: Coverage report
        if: ${{ matrix.coverage }}
        run: |
          echo '### Unit test coverage' >> ${GITHUB_STEP_SUMMARY}
          ${{ github.workspace }}/.github/scripts/jacoco2markdown.sh java/target/site/jacoco/jacoco.csv >> ${GITHUB_STEP_SUMMARY}

  java_scenario:
    needs: verify-versions
    runs-on: ubuntu-24.04
    name: Scenario test Java
    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 17
          - 25
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: ${{ matrix.java-version }}
          distribution: temurin
          cache: maven
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: stable
      - name: Pull Docker images
        run: make pull-docker-images
      - name: Run scenario tests
        run: make scenario-test-java
